/* .cell:not(:disabled):hover, */
.highlight,
.cell{
  border: 1px solid #dddddd;
  height:42px;
  width:42px;
  
  background-color: #000000;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  font-size: 15px;
  transition: 220ms;
  text-align: center;
  vertical-align: middle;
}

.highlight {
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  touch-action: manipulation;
}

.highlight:not(:disabled):hover {
  outline: 0;
  background: #111;
  box-shadow: 0 0 0 1px rgba(255,255,255,.9), 0 0px 6px 0 rgba(255,255,255,.9);
}


/* .highlight:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
} */