body{
    background: #0d0d0d;
    color: #f4f4f4;
    zoom: 155%;
  
}

td.container{
    width: 42px;
    height: 42px;
    overflow:hidden;
}

h1{
  text-align: center;
  font-size: 22pt;
  font-weight: normal;
  font-family: "Lucida Console", "Courier New", monospace;
  font-variant: small-caps;
}